{% extends "base.jinja2" %}

{% block content %}
<h1><small>Because everything we care about goes on the fridge door.</small></h1>

<div class="row">
<div class="col-xs-4 col-">
<ul class="list-group">
  <li>
    <a href="{{'total_users'|route_url}}" class="list-group-item">Total Users</a>
    <a href="{{'pageviews'|route_url}}" class="list-group-item">Page Views</a>
    <a href="{{'devices'|route_url}}" class="list-group-item">Top 5 Devices</a>
  </li>
</ul>
</div>
</div>
<small>&nbsp;source: Google Analytics</small>
{% endblock %}

{% block js %}
<script type="text/javascript">
  gapi.analytics.ready(function() {
    gapi.analytics.auth.authorize({
      container: 'embed-api-auth-container',
      clientid: '607034686826-asf8diukgvpl5qsrvfovf1114uqd1l6s.apps.googleusercontent.com',
    });
  });
</script>
{% endblock %}
