{% extends "base.jinja2" %}

{% block nav %}
<ul class="nav navbar-nav">
  <li><a href="{{'pageviews_weekly'|route_url}}">Weekly</a></li>
  <li><a href="{{'pageviews_monthly'|route_url}}">Monthly</a></li>
  <li class="active"><a href="#">Totals</a></li>
</ul>
{% endblock %}

{% block content %}
  <div class="app" id="mama"><h2>MAMA</h2><h4>Total Page Views</h4></div>
  <div class="app" id="gem"><h2>GEM</h2><h4>Total Page Views</h4></div>
  <div class="app" id="ffl"><h2>FFL</h2><h4>Total Page Views</h4></div>
  <div class="app" id="ebola"><h2>Ebola</h2><h4>Total Page Views</h4></div>
  <div class="app" id="mnm"><h2>MnM</h2><h4>Total Page Views</h4></div>
{% endblock %}

{% block js %}
  <script src="/static/js/pageviews.js?v=2"></script>
{% endblock %}
