{% extends "base.jinja2" %}

{% block nav %}
<ul class="nav navbar-nav">
  <li class="active"><a href="#">Weekly</a></li>
  <li><a href="{{'pageviews_monthly'|route_url}}">Monthly</a></li>
  <li><a href="{{'pageviews'|route_url}}">Totals</a></li>
</ul>
{% endblock %}

{% block content %}
<div class="pv-weekly">
  <div class="app" id="mama"><h2>MAMA</h2></div>
  <div class="app" id="gem"><h2>GEM</h2></div>
  <div class="app" id="ffl"><h2>FFL</h2></div>
  <div class="app" id="ebola"><h2>Ebola</h2></div>
  <div class="app" id="mnm"><h2>MnM</h2></div>
</div>
{% endblock %}

{% block js %}
  <script src="/static/js/pageviews_weekly.js?v=1"></script>
  <script src="/static/js/pageviews_monthly.js?v=1"></script>
{% endblock %}